::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #242424;
}

::-webkit-scrollbar-thumb {
    background: #4a44c9;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6c63ff;
}